<p style="color: green"><%= notice %></p>

<div class = "text-center"id= "new_pic">
<h1 >Add Pictures</h1>
<%= render partial: "pics/form",locals: {pic: Pic.new}%>
</div>

<div id="pics">
  <% @pics.each do |pic| %>
    <%= render pic %>
    <p>
      <%# <%= link_to "Show this pic", pic %>
    </p>
  <% end %>
</div>

<%# <%= link_to "New pic", new_pic_path %> 
<style>
#pics{
  display: flex;
  flex-wrap: wrap;
}
</style>